	<section>
		<h1>Films aanpassen</h1>
		<p>Vewijder of voeg films toe aan favorieten</p>
	</section>


	<section id="movies">
		<h2>Favorieten films</h2>

		<ul>
			{{#each favoritemovies}} 
				<li>
                    <img src="public/images/{{this}}.jpg" alt={{this}}>
                </li>
            {{/each}}
        </ul>
	</section>	

	<section>
		<h2>Film toevoegen</h2>	
        <form action="/addmovie" method="POST">
            <select name="moviename">
                {{#each movies}}  
            <option type="text" value={{this.moviename}}> {{this.moviename}}</option>
                  {{/each}}
            </select>
              <input type="submit">    
        </form>
    </section>

    <section>

		<h2>Film verwijderen</h2>

		<form action="/removemovie" method="POST">
			<select name="moviename">
                {{#each favoritemovies}}  
					  <option type="text" value={{this}}> {{this}}</option>
                {{/each}}
            </select>
			<br><br>
			<input type="submit">
		</form>
	</section>	

		</main>
