	<section>
		<h1>Games aanpassen</h1>
		<p>Vewijder of voeg games toe aan favorieten</p>
	</section>


	<section id="movies">
		<h2>Favorieten games</h2>

		<ul>
			{{#each favoritemovies}} 
				<li>
                    <img src="public/images/{{this}}.jpg" alt={{this}}>
                </li>
            {{/each}}
        </ul>
	</section>	

	<section id="addMovies">
		<h2>Games toevoegen</h2>	
        <form action="/addmovie" method="POST">
            <ul>
                {{#each movies}}  
                <li>
	                <input type="checkbox" name="moviename" value="{{this.moviename}}" />
					<label for="myCheckbox1"><img src="public/images/{{this.moviename}}.jpg" /></label>
            	<li/>
                  {{/each}}
            </ul>
              <input type="submit">    
        </form>
    </section>

    <section id="addMovies">

		<h2>Games verwijderen</h2>

		<form action="/removemovie" method="POST">
		<ul>
                {{#each favoritemovies}}  
                <li>
	                <input type="checkbox" name="moviename" value="{{this}}" />
					<label for="myCheckbox1"><img src="public/images/{{this}}.jpg" /></label>
            	<li/>
                  {{/each}}
            </ul>
		
			<br><br>
			<input type="submit">
		</form>
	</section>	

		</main>
