 <section class="match"> 
     <a href="filter"><img src="/public/images/filter.svg"> Filter</a>    
    {{#each profielen}}  
        <article>
            <img src="{{this.afbeelding}}">
            <h2>{{this.naamkat}}</h2> 
            <h3>Kat van {{this.naam}}</h3>
            <h4>{{this.leeftijd}}</h4>
            <p>{{this.beschrijving}}</p>
        <div class= 'buttons'>
            <img src="/public/images/close.svg">
            <img src="/public/images/heart.svg">
        </div>
        </article>      
    {{/each}} </section>